include inventory
recursive-include playbooks *.yml
recursive-include playbooks *.yaml
include *.yml
include *.yaml
include MANIFEST.in
exclude .ansible-lint
exclude .gitignore
recursive-exclude .git *
recursive-exclude constructed-inventory *
recursive-exclude inventory *
