include inventory
recursive-include *.yml
include MANIFEST.in
exclude .ansible-lint
exclude .gitignore
recursive-exclude .git *
recursive-exclude constructed-inventory *
recursive-exclude inventory *
